{% extends '../index_master.html' %}

{% block content %}
 <div class="right_col" role="main">
<h1> Listar</h1>
<table class="table ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Apellido</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Telefono</th>
      <th scope="col">Fecha Nacimiento</th>
      <th scope="col">Fecha de registro</th>
    </tr>
  </thead>
  <tbody>
    {% for u in usuarios %}
    <tr>
      <th scope="row">{{ u.id }}</th>
      <td>{{ u.apellido }}</td>
      <td>{{ u.nombre }}</td>
      <td>{{ u.correo }}</td>
      <td>{{ u.telefono }}</td>
      <td>{{ u.f_nac }}</td>
      <td>{{ u.f_registro }}</td>

    </tr>
    {% endfor %}
  </tbody>

</table>
</div>
{% endblock %}